/* Основные стили */
.App {
  text-align: center;
}

.search-container {
  margin: 20px;
}

.container {
  padding: 20px;
  max-width: 1200px; /* Ограничиваем ширину контейнера */
  margin: 0 auto; /* Центрируем контейнер */
}

.catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 колонки */
  gap: 20px; /* Расстояние между карточками */
}

.game {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game img {
  max-width: 100%;
  height: 300px;
}

.game-info {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  width: 100%;
}

.game-info img {
  width: 70px;
  height: 70px;
}

.btn-primary {
  margin: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}